# =====================================
# Python
# =====================================

__pycache__/
*.pyc
*.pyo
*.pyd

# =====================================
# Virtual Environments
# =====================================

venv/
.venv/
env/

# =====================================
# VS Code
# =====================================

.vscode/

# =====================================
# MacOS
# =====================================

.DS_Store

# =====================================
# Jupyter
# =====================================

.ipynb_checkpoints/

# =====================================
# Logs
# =====================================

*.log

# =====================================
# Environment Variables
# =====================================

.env

# =====================================
# Data Lake Outputs
# =====================================

data/raw/
data/processed/
data/curated/

# =====================================
# Machine Learning Artifacts
# =====================================

models/
ml/features/*.csv
ml/win_probability/*.csv

# =====================================
# Runtime Dashboard Files
# =====================================

dashboard/live/live_match_state.json

# =====================================
# Streamlit Cache
# =====================================

.streamlit/secrets.toml

# =====================================
# PostgreSQL Dumps
# =====================================

*.sql.gz
*.dump

# =====================================
# Kafka Logs
# =====================================

kafka-logs/
logs/

# =====================================
# Temporary Files
# =====================================

*.tmp
*.temp